.panel-heading
	.row
		.col.col-md-6
			h1.h5= local.get('sections').catalog.sections_list
		.col.col-md-6.align-right
			.btn-group
				button.refresh.btn.btn-default
					span.glyphicon.glyphicon-transfer
					= ' ' + local.get('sections').catalog.refresh
				a.add.btn.btn-default.btn-success(href="#panel/catalog/add_section.html")
					span.glyphicon.glyphicon-plus
					= ' ' + local.get('sections').catalog.add_section
table.table
	thead
		tr
			th= local.get('sections').catalog.id
			th= local.get('sections').catalog_section.is_active
			th= local.get('sections').catalog.name
			th= local.get('sections').catalog.elements_count
	tbody
