!!! 5
html(lang=lang,
	data-templates-path=static_url('admin-templates/'),
	data-local-file=static_url('admin-local.json'),
	data-is-auth=is_auth,
	data-is-debug=is_debug,
	data-tinymce-path=static_url('tinymce/tinymce.min.js'))
	head
		meta(charset="utf-8")

		title= page_title

		meta(name="author", content="Viacheslav Lotsmanov")
		meta(name="author", content="Andrew Fatkulin")

		link(href=static_url('images/favicon.ico'), rel="shortcut icon")
		link(href=static_url('admin-build.css'), type="text/css", rel="stylesheet")
		script(src=static_url('admin-build.js'), type="text/javascript")
	body
		.loading.container
			.wrap
				.spinner.glyphicon.glyphicon-refresh
				.text= local['page_loading']
