.panel-heading
	.row
		.col.col-md-6
			h1.h5= local.get('sections').pages.pages_list
		.col.col-md-6.align-right
			.btn-group
				button.refresh.btn.btn-default
					span.glyphicon.glyphicon-transfer
					= ' ' + local.get('sections').pages.refresh
				a.add.btn.btn-default.btn-success(href="#panel/pages/add.html")
					span.glyphicon.glyphicon-plus
					= ' ' + local.get('sections').pages.add
table.table
	thead
		tr
			th(class="js-ordering-column ordering-column" data-field="id")
				span= local.get('sections').pages.id
			th(class="js-ordering-column ordering-column" data-field="is_active")
				span= local.get('sections').pages.is_active
			th(class="js-ordering-column ordering-column" data-field="sort")
				span= local.get('sections').pages.sort
			th(class="js-ordering-column ordering-column" data-field="name")
				span= local.get('sections').pages.name
			th(class="js-ordering-column ordering-column" data-field="url")
				span= local.get('sections').pages.url
	tbody
