extends layout

block page-specific
	.catalog-page.detail
		.content
			if seo_title
				h1= seo_title
			else
				h1= title
			main
				a.order(href="#order-form") Сделать заказ
				.catalog-detail-item
					if main_image
						img.big-pic(
							alt='Фото '+title,
							src=main_image['filename'])
					.description!= desctiption_text
					ul.photos
						each item in images
							li
								a(href=item['filename'], title=title)
									img(alt='Фото '+title, src=item['filename'])
