extends layout

block page-specific
	- var show_h1 = 1
	- var page_title = 'Аренда автомобиля с водителем'

	.catalog-page
		.content
			if show_h1
				if page_title
					h1=page_title
			main
				ul.catalog-sections
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри Toyota Camry lololo asd as asd asd asda sdasd as
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
					li
						a(href="javascript:void(0);")
							img(alt="Фото Тайота Камри" src=static_url('tmp/car.jpg'))
							span Тойота Камри
