extends layout

block page-specific
	.catalog-page.detail
		.content
			if seo_title
				h1= seo_title
			else
				h1= title
			main
				a.order(href="#order-form") Сделать заказ
				.catalog-detail-item
					if main_image
						img.big-pic(
							alt='Фото #{title}'
							src=main_image['filepath'])
					.description!= description_text
					ul.photos
						each item in images
							li
								a(href=item['filepath'], title=title)
									img(alt='Фото #{title}', src=item['filepath'])
