extends layout

block page-specific
	.catalog-page.sections
		.content
			if seo_title
				h1= seo_title
			else
				h1= title
			main
				ul.catalog-sections
					each item in items
						li
							a(href=item['detail_link'])
								img(alt='Фото '+title,
									src=item['main_image']['filename'])
								span= title
