extends layout

block page-specific
	.content-page
		ul.cars.left
			each i in ['1','2','3','4','5','6']
				li
					img(alt="", src=static_url('images/content/cars-rows/left/#{i}.jpg'))
		.content
			if is_h1_show
				if seo_title
					h1= seo_title
				else
					h1= title
			main
				if error_msg_list
					ul.error-messages
						each msg in error_msg_list
							li=msg
				if success_msg_list
					ul.success-messages
						each msg in success_msg_list
							li=msg
				block content
					if content_text
						!= content_text
		ul.cars.right
			each i in ['1','2','3','4','5','6']
				li
					img(alt="", src=static_url('images/content/cars-rows/right/#{i}.jpg'))
