.head-block
	.right-part
		unless is_main_page
			a(href="/", title="На главную страницу")
				img(alt="Авто Люкс логотип", src=static_url('images/logo.png'))
		else
			img(alt="Авто Люкс логотип", src=static_url('images/logo.png'))
		.slogan.
			Аренда и прокат автомобилей<br>
			Заказ микроавтобусов
		ul.phones
			each phone in get_nonrel_arr('phones', 'header')
				li
					a(href=get_phone_link(phone))= phone
		a.call-me(href="#call-me-form") Заказать звонок
		nav.main-menu
			ul
				each item in menu['main']
					if item['active']
						li.active
							span= item['title']
					else
						li
							a(href=item['link'])= item['title']
.catalog-menu
	nav
		ul
			each item in menu['catalog']
				if item['active']
					li.active
						if item['current']
							span
								span= item['title']
						else
							a(href=item['link'])
								span= item['title']
				else
					li
						a(href=item['link'])
							span= item['title']
