- var html_classes = ''

if has_footer_slogan
	- var html_classes = html_classes + ' aphorism '

!!! 5
html(lang="ru", class=html_classes, data-local-file=static_url('client-local.json'))
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=1000")

		if seo_meta_title
			title= seo_meta_title
		else
			title= title

		if seo_meta_description
			meta(name="description", content=seo_meta_description)
		if seo_meta_keywords
			meta(name="keywords", content=seo_meta_keywords)

		link(href=static_url('images/favicon.ico'), rel="shortcut icon")
		link(href=static_url('client-build.css'), type="text/css", rel="stylesheet")
		script(src=static_url('client-build.js'), type="text/javascript")
	body
		.top-block
			header
				include header
			block page-specific
		footer
			include footer
		include forms
		unless is_debug
			include counters
