- var main_page = 1
- var show_h1 = 0

// temporarly
- var meta_title = 'Авто Люкс — аренда и прокат автомобилей с водителем. Заказ микроавтобусов.'
- var meta_description = ''
- var meta_keywords = ''
- var page_title = ''

!!! 5
html(lang="ru")
	head
		meta(charset="utf-8")

		if meta_title
			title=meta_title
		else
			title=page_title

		if meta_description
			meta(name="description", content=meta_description)
		if meta_keywords
			meta(name="keywords", content=meta_keywords)

		meta(name="author", content="Viacheslav Lotsmanov")
		meta(name="author", content="Andrew Fatkulin")

		link(href=static_url('images/favicon.ico'), rel="shortcut icon")
		link(href=static_url('client-build.css'), type="text/css", rel="stylesheet")
		script(src=static_url('client-build.js'), type="text/javascript")
	body
		.top-block
			header
				include header
			block page-specific
		footer
			include footer
