.panel-heading
	.row
		.col.col-md-6
			h1.h5= local.get('sections').accounts.accounts_list
		.col.col-md-6.align-right
			.thumbnail.thumbnail-drop-delete-zone.js-drop-delete-zone
				span.glyphicon.glyphicon-remove
				= ' ' + local.get('sections').accounts.drag_to_remove
			.btn-group
				button.refresh.btn.btn-default
					span.glyphicon.glyphicon-transfer
					= ' ' + local.get('sections').accounts.refresh
				a.add.btn.btn-default.btn-success(
					href="#panel/accounts/add.html"
				)
					span.glyphicon.glyphicon-plus
					= ' ' + local.get('sections').accounts.add
table.table
	thead
		tr
			th(class="js-ordering-column ordering-column" data-field="id")
				span= local.get('sections').accounts.id
			th(class="js-ordering-column ordering-column" data-field="is_active")
				span= local.get('sections').accounts.is_active
			th(class="js-ordering-column ordering-column" data-field="login")
				span= local.get('sections').accounts.login
	tbody
