.panel-heading
	.row
		.col.col-md-6
			h1.h5= local.get('sections').redirect.redirect_list
		.col.col-md-6.align-right
			.btn-group
				button.refresh.btn.btn-default
					span.glyphicon.glyphicon-transfer
					= ' ' + local.get('sections').redirect.refresh
				button.add.btn.btn-default.btn-success
					span.glyphicon.glyphicon-plus
					= ' ' + local.get('sections').redirect.add
table.table
	thead
		tr
			th= local.get('sections').redirect.id
			th= local.get('sections').redirect.status
			th= local.get('sections').redirect.old_url
			th= local.get('sections').redirect.new_url
	tbody
